@charset "UTF-8";

/* paleta de cores 
verde #49A09D
lilás #5F2682 */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2682;
    height: 100vh;
    width: 100vw; 
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 260px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2682 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#fomrulario {
    display: block;
    padding: 40px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.9em;
    padding: 5px;
}

form > div.campo {
    background-color: #795b8b;
    border: 2px solid #5f2682;
    display: block;
    width: 98%;
    height: 40px;
    border-radius: 8px;
    margin: 3px;
}

div.campo > label {
    display: none;
} 

div.campo > i {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #66d3b8;
    font-size: 1em;
    width: calc(100% - 50px); /*pra fazer o encaixe perfeito*/
    height: 100%;
    
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px); 
    /*sempre a última linha do seletor*/
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 98%; /*vai ocupar 100% do conteiner*/
    height: 40px;
    background-color: #49A09D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 98%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49A09D;
    border-radius: 7px;
    text-decoration: none;
    margin: 3px
}

form > a.botao:hover {
    background-color: #66d3b8;
}

form > a.botao > i {
    font-size: 0.8em;
}

